body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #515076;
    width: 1110px;
    margin: auto;
    line-height: 18px;
}

.title {
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    margin-top: 210px;
    margin-bottom: 110px;
    position: relative;
    z-index: 1;
}

.dandelions-container {
    background-image: url("images/dandelions.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 425px;
    margin-top: 30px;
    width: 790px;
    height: 697px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    flex: 0 0 33%;
    z-index: 1;
}

.cards {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #F7F7FA;
    padding: 25px;
    width: 340px;
    z-index: 1;
    box-shadow: 0 2px 2px #5150761A;
}

.discription {
    color: #A5A3B9;
    font-size: 12px;
    font-weight: 400;
}

.ingredients {
    list-style-position: inside;
    list-style-type: circle;
    padding: 0;
}

.price-container {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.text-price {
    font-size: 20px;
    font-weight: 700;
}

.price {
    font-size: 20px;
    font-weight: 400;
}